[
    (
        address: 0,
        size: 2,
        data_name: Some("Model Number"),
        description: Some("Model Number"),
        access: Read,
        initial_value: Some("64"),
        range: None,
        units: None,
        modbus: None,
    ),// [0]
    (
        address: 2,
        size: 1,
        data_name: Some("Firmware Version"),
        description: Some("Firmware Version"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [1]
    (
        address: 3,
        size: 1,
        data_name: Some("ID"),
        description: Some("DYNAMIXEL ID"),
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [2]
    (
        address: 4,
        size: 1,
        data_name: Some("Baud Rate"),
        description: Some("Communication Speed"),
        access: ReadWrite,
        initial_value: Some("34"),
        range: None,
        units: None,
        modbus: None,
    ),// [3]
    (
        address: 5,
        size: 1,
        data_name: Some("Return Delay Time"),
        description: Some("Response Delay Time"),
        access: ReadWrite,
        initial_value: Some("250"),
        range: None,
        units: None,
        modbus: None,
    ),// [4]
    (
        address: 6,
        size: 2,
        data_name: Some("CW Angle Limit"),
        description: Some("Clockwise Angle Limit"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [5]
    (
        address: 8,
        size: 2,
        data_name: Some("CCW Angle Limit"),
        description: Some("Counter-Clockwise Angle Limit"),
        access: ReadWrite,
        initial_value: Some("1023"),
        range: None,
        units: None,
        modbus: None,
    ),// [6]
    (
        address: 11,
        size: 1,
        data_name: Some("Temperature Limit"),
        description: Some("Maximum Internal Temperature Limit"),
        access: ReadWrite,
        initial_value: Some("80"),
        range: None,
        units: None,
        modbus: None,
    ),// [7]
    (
        address: 12,
        size: 1,
        data_name: Some("Min Voltage Limit"),
        description: Some("Minimum Input Voltage Limit"),
        access: ReadWrite,
        initial_value: Some("60"),
        range: None,
        units: None,
        modbus: None,
    ),// [8]
    (
        address: 13,
        size: 1,
        data_name: Some("Max Voltage Limit"),
        description: Some("Maximum Input Voltage Limit"),
        access: ReadWrite,
        initial_value: Some("190"),
        range: None,
        units: None,
        modbus: None,
    ),// [9]
    (
        address: 14,
        size: 2,
        data_name: Some("Max Torque"),
        description: Some("Maximun Torque"),
        access: ReadWrite,
        initial_value: Some("1023"),
        range: None,
        units: None,
        modbus: None,
    ),// [10]
    (
        address: 16,
        size: 1,
        data_name: Some("Status Return Level"),
        description: Some("Select Types of Status Return"),
        access: ReadWrite,
        initial_value: Some("2"),
        range: None,
        units: None,
        modbus: None,
    ),// [11]
    (
        address: 17,
        size: 1,
        data_name: Some("Alarm LED"),
        description: Some("LED for Alarm"),
        access: ReadWrite,
        initial_value: Some("36"),
        range: None,
        units: None,
        modbus: None,
    ),// [12]
    (
        address: 18,
        size: 1,
        data_name: Some("Shutdown"),
        description: Some("Shutdown Error Information"),
        access: ReadWrite,
        initial_value: Some("36"),
        range: None,
        units: None,
        modbus: None,
    ),// [13]
    (
        address: 24,
        size: 1,
        data_name: Some("Torque Enable"),
        description: Some("Motor Torque On/Off"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [14]
    (
        address: 25,
        size: 1,
        data_name: Some("LED"),
        description: Some("Status LED On/Off"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [15]
    (
        address: 26,
        size: 1,
        data_name: Some("CW Compliance Margin"),
        description: Some("CW Compliance Margin"),
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [16]
    (
        address: 27,
        size: 1,
        data_name: Some("CCW Compliance Margin"),
        description: Some("CCW Compliance Margin"),
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [17]
    (
        address: 28,
        size: 1,
        data_name: Some("CW Compliance Slope"),
        description: Some("CW Compliance Slope"),
        access: ReadWrite,
        initial_value: Some("32"),
        range: None,
        units: None,
        modbus: None,
    ),// [18]
    (
        address: 29,
        size: 1,
        data_name: Some("CCW Compliance Slope"),
        description: Some("CCW Compliance Slope"),
        access: ReadWrite,
        initial_value: Some("32"),
        range: None,
        units: None,
        modbus: None,
    ),// [19]
    (
        address: 30,
        size: 2,
        data_name: Some("Goal Position"),
        description: Some("Target Position"),
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [20]
    (
        address: 32,
        size: 2,
        data_name: Some("Moving Speed"),
        description: Some("Moving Speed"),
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [21]
    (
        address: 34,
        size: 2,
        data_name: Some("Torque Limit"),
        description: Some("Torque Limit"),
        access: ReadWrite,
        initial_value: Some("Max Torque"),
        range: None,
        units: None,
        modbus: None,
    ),// [22]
    (
        address: 36,
        size: 2,
        data_name: Some("Present Position"),
        description: Some("Present Position"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [23]
    (
        address: 38,
        size: 2,
        data_name: Some("Present Speed"),
        description: Some("Present Speed"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [24]
    (
        address: 40,
        size: 2,
        data_name: Some("Present Load"),
        description: Some("Present Load"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [25]
    (
        address: 42,
        size: 1,
        data_name: Some("Present Voltage"),
        description: Some("Present Voltage"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [26]
    (
        address: 43,
        size: 1,
        data_name: Some("Present Temperature"),
        description: Some("Present Temperature"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [27]
    (
        address: 44,
        size: 1,
        data_name: Some("Registered"),
        description: Some("If Instruction is registered"),
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [28]
    (
        address: 46,
        size: 1,
        data_name: Some("Moving"),
        description: Some("Movement Status"),
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [29]
    (
        address: 47,
        size: 1,
        data_name: Some("Lock"),
        description: Some("Locking EEPROM"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [30]
    (
        address: 48,
        size: 2,
        data_name: Some("Punch"),
        description: Some("Minimum Current Threshold"),
        access: ReadWrite,
        initial_value: Some("32"),
        range: None,
        units: None,
        modbus: None,
    ),
]