[
    (
        address: Standard(0),
        size: 2,
        data_name: Some("Model Number"),
        description: None,
        access: Read,
        initial_value: Some("54025"),
        range: None,
        units: None,
        modbus: None,
    ),// [0]
    (
        address: Standard(2),
        size: 4,
        data_name: Some("Model Information"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [1]
    (
        address: Standard(6),
        size: 1,
        data_name: Some("Firmware Version"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [2]
    (
        address: Standard(7),
        size: 1,
        data_name: Some("ID"),
        description: None,
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [3]
    (
        address: Standard(8),
        size: 1,
        data_name: Some("Baud Rate"),
        description: None,
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [4]
    (
        address: Standard(9),
        size: 1,
        data_name: Some("Return Delay Time"),
        description: None,
        access: ReadWrite,
        initial_value: Some("250"),
        range: None,
        units: None,
        modbus: None,
    ),// [5]
    (
        address: Standard(10),
        size: 1,
        data_name: Some("Drive Mode"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [6]
    (
        address: Standard(11),
        size: 1,
        data_name: Some("Operating Mode"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [7]
    (
        address: Standard(12),
        size: 1,
        data_name: Some("Sencondary ID"),
        description: None,
        access: ReadWrite,
        initial_value: Some("255"),
        range: None,
        units: None,
        modbus: None,
    ),// [8]
    (
        address: Standard(20),
        size: 4,
        data_name: Some("Homing Offset"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [9]
    (
        address: Standard(24),
        size: 4,
        data_name: Some("Moving Threshold"),
        description: None,
        access: ReadWrite,
        initial_value: Some("20"),
        range: None,
        units: None,
        modbus: None,
    ),// [10]
    (
        address: Standard(31),
        size: 1,
        data_name: Some("Temperature Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("80"),
        range: None,
        units: None,
        modbus: None,
    ),// [11]
    (
        address: Standard(32),
        size: 2,
        data_name: Some("Max Voltage Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("350"),
        range: None,
        units: None,
        modbus: None,
    ),// [12]
    (
        address: Standard(34),
        size: 2,
        data_name: Some("Min Voltage Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("150"),
        range: None,
        units: None,
        modbus: None,
    ),// [13]
    (
        address: Standard(36),
        size: 2,
        data_name: Some("PWM Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("2009"),
        range: None,
        units: None,
        modbus: None,
    ),// [14]
    (
        address: Standard(38),
        size: 2,
        data_name: Some("Current Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("22740"),
        range: None,
        units: None,
        modbus: None,
    ),// [15]
    (
        address: Standard(40),
        size: 4,
        data_name: Some("Acceleration Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("9982"),
        range: None,
        units: None,
        modbus: None,
    ),// [16]
    (
        address: Standard(44),
        size: 4,
        data_name: Some("Velocity Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("2900"),
        range: None,
        units: None,
        modbus: None,
    ),// [17]
    (
        address: Standard(48),
        size: 4,
        data_name: Some("Max Position Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("501433"),
        range: None,
        units: None,
        modbus: None,
    ),// [18]
    (
        address: Standard(52),
        size: 4,
        data_name: Some("Min Position Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("-501433"),
        range: None,
        units: None,
        modbus: None,
    ),// [19]
    (
        address: Standard(56),
        size: 1,
        data_name: Some("External Port Mode 1"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [20]
    (
        address: Standard(57),
        size: 1,
        data_name: Some("External Port Mode 2"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [21]
    (
        address: Standard(58),
        size: 1,
        data_name: Some("External Port Mode 3"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [22]
    (
        address: Standard(59),
        size: 1,
        data_name: Some("External Port Mode 4"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [23]
    (
        address: Standard(63),
        size: 1,
        data_name: Some("Shutdown"),
        description: None,
        access: ReadWrite,
        initial_value: Some("52"),
        range: None,
        units: None,
        modbus: None,
    ),// [24]
    (
        address: Standard(512),
        size: 1,
        data_name: Some("Torque Enable"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [25]
    (
        address: Standard(513),
        size: 1,
        data_name: Some("LED Red"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [26]
    (
        address: Standard(514),
        size: 1,
        data_name: Some("LED Green"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [27]
    (
        address: Standard(515),
        size: 1,
        data_name: Some("LED Blue"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [28]
    (
        address: Standard(516),
        size: 1,
        data_name: Some("Status Return Level"),
        description: None,
        access: ReadWrite,
        initial_value: Some("2"),
        range: None,
        units: None,
        modbus: None,
    ),// [29]
    (
        address: Standard(517),
        size: 1,
        data_name: Some("Registered Instruction"),
        description: None,
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [30]
    (
        address: Standard(518),
        size: 1,
        data_name: Some("Hardware Error Status"),
        description: None,
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [31]
    (
        address: Standard(524),
        size: 2,
        data_name: Some("Velocity I Gain"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [32]
    (
        address: Standard(526),
        size: 2,
        data_name: Some("Velocity P Gain"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [33]
    (
        address: Standard(528),
        size: 2,
        data_name: Some("Position D Gain"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [34]
    (
        address: Standard(532),
        size: 2,
        data_name: Some("Position P Gain"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [35]
    (
        address: Standard(530),
        size: 2,
        data_name: Some("Position I Gain"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [36]
    (
        address: Standard(536),
        size: 2,
        data_name: Some("Feedforward 2nd Gain"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [37]
    (
        address: Standard(538),
        size: 2,
        data_name: Some("Feedforward 1st Gain"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [38]
    (
        address: Standard(546),
        size: 1,
        data_name: Some("Bus Watchdog"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [39]
    (
        address: Standard(548),
        size: 2,
        data_name: Some("Goal PWM"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [40]
    (
        address: Standard(550),
        size: 2,
        data_name: Some("Goal Current"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [41]
    (
        address: Standard(552),
        size: 4,
        data_name: Some("Goal Velocity"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [42]
    (
        address: Standard(556),
        size: 4,
        data_name: Some("Profile Acceleration"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [43]
    (
        address: Standard(560),
        size: 4,
        data_name: Some("Profile Velocity"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [44]
    (
        address: Standard(564),
        size: 4,
        data_name: Some("Goal Position"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [45]
    (
        address: Standard(568),
        size: 2,
        data_name: Some("Realtime Tick"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [46]
    (
        address: Standard(570),
        size: 1,
        data_name: Some("Moving"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [47]
    (
        address: Standard(571),
        size: 1,
        data_name: Some("Moving Status"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [48]
    (
        address: Standard(572),
        size: 2,
        data_name: Some("Present PWM"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [49]
    (
        address: Standard(574),
        size: 2,
        data_name: Some("Present Current"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [50]
    (
        address: Standard(576),
        size: 4,
        data_name: Some("Present Velocity"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [51]
    (
        address: Standard(580),
        size: 4,
        data_name: Some("Present Position"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [52]
    (
        address: Standard(584),
        size: 4,
        data_name: Some("Velocity Trajectory"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [53]
    (
        address: Standard(588),
        size: 4,
        data_name: Some("Position Trajectory"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [54]
    (
        address: Standard(592),
        size: 2,
        data_name: Some("Present Input Voltage"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [55]
    (
        address: Standard(594),
        size: 1,
        data_name: Some("Present Temperature"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [56]
    (
        address: Standard(600),
        size: 2,
        data_name: Some("External Port Data 1"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [57]
    (
        address: Standard(602),
        size: 2,
        data_name: Some("External Port Data 2"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [58]
    (
        address: Standard(604),
        size: 2,
        data_name: Some("External Port Data 3"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [59]
    (
        address: Standard(606),
        size: 2,
        data_name: Some("External Port Data 4"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),
]