[
    (
        address: Standard(0),
        size: 2,
        data_name: Some("Model Number"),
        description: Some("Model Number"),
        access: Read,
        initial_value: Some("321"),
        range: None,
        units: None,
        modbus: None,
    ),// [0]
    (
        address: Standard(2),
        size: 4,
        data_name: Some("Model Information"),
        description: Some("Model Information"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [1]
    (
        address: Standard(6),
        size: 1,
        data_name: Some("Firmware Version"),
        description: Some("Firmware Version"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [2]
    (
        address: Standard(7),
        size: 1,
        data_name: Some("ID"),
        description: Some("DYNAMIXEL ID"),
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [3]
    (
        address: Standard(8),
        size: 1,
        data_name: Some("Baud Rate"),
        description: Some("Communication Baud Rate"),
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [4]
    (
        address: Standard(9),
        size: 1,
        data_name: Some("Return Delay Time"),
        description: Some("Response Delay Time"),
        access: ReadWrite,
        initial_value: Some("250"),
        range: None,
        units: None,
        modbus: None,
    ),// [5]
    (
        address: Standard(10),
        size: 1,
        data_name: Some("Drive Mode"),
        description: Some("Drive Mode"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [6]
    (
        address: Standard(11),
        size: 1,
        data_name: Some("Operating Mode"),
        description: Some("Operating Mode"),
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [7]
    (
        address: Standard(12),
        size: 1,
        data_name: Some("Secondary(Shadow) ID"),
        description: Some("Secondary ID"),
        access: ReadWrite,
        initial_value: Some("255"),
        range: None,
        units: None,
        modbus: None,
    ),// [8]
    (
        address: Standard(13),
        size: 1,
        data_name: Some("Protocol Type"),
        description: Some("Protocol Type"),
        access: ReadWrite,
        initial_value: Some("2"),
        range: None,
        units: None,
        modbus: None,
    ),// [9]
    (
        address: Standard(20),
        size: 4,
        data_name: Some("Homing Offset"),
        description: Some("Home Position Offset"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [10]
    (
        address: Standard(24),
        size: 4,
        data_name: Some("Moving Threshold"),
        description: Some("Velocity Threshold for Movement Detection"),
        access: ReadWrite,
        initial_value: Some("10"),
        range: None,
        units: None,
        modbus: None,
    ),// [11]
    (
        address: Standard(31),
        size: 1,
        data_name: Some("Temperature Limit"),
        description: Some("Maximum Internal Temperature Limit"),
        access: ReadWrite,
        initial_value: Some("80"),
        range: None,
        units: None,
        modbus: None,
    ),// [12]
    (
        address: Standard(32),
        size: 2,
        data_name: Some("Max Voltage Limit"),
        description: Some("Maximum Input Voltage Limit"),
        access: ReadWrite,
        initial_value: Some("160"),
        range: None,
        units: None,
        modbus: None,
    ),// [13]
    (
        address: Standard(34),
        size: 2,
        data_name: Some("Min Voltage Limit"),
        description: Some("Minimum Input Voltage Limit"),
        access: ReadWrite,
        initial_value: Some("95"),
        range: None,
        units: None,
        modbus: None,
    ),// [14]
    (
        address: Standard(36),
        size: 2,
        data_name: Some("PWM Limit"),
        description: Some("Maximum PWM Limit"),
        access: ReadWrite,
        initial_value: Some("885"),
        range: None,
        units: None,
        modbus: None,
    ),// [15]
    (
        address: Standard(38),
        size: 2,
        data_name: Some("Current Limit"),
        description: Some("Maximum Current Limit"),
        access: ReadWrite,
        initial_value: Some("2047"),
        range: None,
        units: None,
        modbus: None,
    ),// [16]
    (
        address: Standard(40),
        size: 4,
        data_name: Some("Acceleration Limit"),
        description: Some("Maximum Acceleration Limit"),
        access: ReadWrite,
        initial_value: Some("32767"),
        range: None,
        units: None,
        modbus: None,
    ),// [17]
    (
        address: Standard(44),
        size: 4,
        data_name: Some("Velocity Limit"),
        description: Some("Maximum Velocity Limit"),
        access: ReadWrite,
        initial_value: Some("210"),
        range: None,
        units: None,
        modbus: None,
    ),// [18]
    (
        address: Standard(48),
        size: 4,
        data_name: Some("Max Position Limit"),
        description: Some("Maximum Position Limit"),
        access: ReadWrite,
        initial_value: Some("4095"),
        range: None,
        units: None,
        modbus: None,
    ),// [19]
    (
        address: Standard(52),
        size: 4,
        data_name: Some("Min Position Limit"),
        description: Some("Minimum Position Limit"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [20]
    (
        address: Standard(63),
        size: 1,
        data_name: Some("Shutdown"),
        description: Some("Shutdown Error Information"),
        access: ReadWrite,
        initial_value: Some("52"),
        range: None,
        units: None,
        modbus: None,
    ),// [21]
    (
        address: Standard(64),
        size: 1,
        data_name: Some("Torque Enable"),
        description: Some("Motor Torque On/Off"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [22]
    (
        address: Standard(65),
        size: 1,
        data_name: Some("LED"),
        description: Some("Status LED On/Off"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [23]
    (
        address: Standard(68),
        size: 1,
        data_name: Some("Status Return Level"),
        description: Some("Select Types of Status Return"),
        access: ReadWrite,
        initial_value: Some("2"),
        range: None,
        units: None,
        modbus: None,
    ),// [24]
    (
        address: Standard(69),
        size: 1,
        data_name: Some("Registered Instruction"),
        description: Some("REG_WRITE Instruction Flag"),
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [25]
    (
        address: Standard(70),
        size: 1,
        data_name: Some("Hardware Error Status"),
        description: Some("Hardware Error Status"),
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [26]
    (
        address: Standard(76),
        size: 2,
        data_name: Some("Velocity I Gain"),
        description: Some("I Gain of Velocity"),
        access: ReadWrite,
        initial_value: Some("1920"),
        range: None,
        units: None,
        modbus: None,
    ),// [27]
    (
        address: Standard(78),
        size: 2,
        data_name: Some("Velocity P Gain"),
        description: Some("P Gain of Velocity"),
        access: ReadWrite,
        initial_value: Some("100"),
        range: None,
        units: None,
        modbus: None,
    ),// [28]
    (
        address: Standard(80),
        size: 2,
        data_name: Some("Position D Gain"),
        description: Some("D Gain of Position"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [29]
    (
        address: Standard(82),
        size: 2,
        data_name: Some("Position I Gain"),
        description: Some("I Gain of Position"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [30]
    (
        address: Standard(84),
        size: 2,
        data_name: Some("Position P Gain"),
        description: Some("P Gain of Position"),
        access: ReadWrite,
        initial_value: Some("850"),
        range: None,
        units: None,
        modbus: None,
    ),// [31]
    (
        address: Standard(88),
        size: 2,
        data_name: Some("Feedforward 2nd Gain"),
        description: Some("2nd Gain of Feed-Forward"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [32]
    (
        address: Standard(90),
        size: 2,
        data_name: Some("Feedforward 1st Gain"),
        description: Some("1st Gain of Feed-Forward"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [33]
    (
        address: Standard(98),
        size: 1,
        data_name: Some("BUS Watchdog"),
        description: Some("DYNAMIXEL BUS Watchdog"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [34]
    (
        address: Standard(100),
        size: 2,
        data_name: Some("Goal PWM"),
        description: Some("Desired PWM Value"),
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [35]
    (
        address: Standard(102),
        size: 2,
        data_name: Some("Goal Current"),
        description: Some("Desired Current Value"),
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [36]
    (
        address: Standard(104),
        size: 4,
        data_name: Some("Goal Velocity"),
        description: Some("Desired Velocity Value"),
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [37]
    (
        address: Standard(108),
        size: 4,
        data_name: Some("Profile Acceleration"),
        description: Some("Acceleration Value of Profile"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [38]
    (
        address: Standard(112),
        size: 4,
        data_name: Some("Profile Velocity"),
        description: Some("Velocity Value of Profile"),
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [39]
    (
        address: Standard(116),
        size: 4,
        data_name: Some("Goal Position"),
        description: Some("Desired Position"),
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [40]
    (
        address: Standard(120),
        size: 2,
        data_name: Some("Realtime Tick"),
        description: Some("Count Time in Millisecond"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [41]
    (
        address: Standard(122),
        size: 1,
        data_name: Some("Moving"),
        description: Some("Movement Flag"),
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [42]
    (
        address: Standard(123),
        size: 1,
        data_name: Some("Moving Status"),
        description: Some("Detailed Information of Movement Status"),
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [43]
    (
        address: Standard(124),
        size: 2,
        data_name: Some("Present PWM"),
        description: Some("Present PWM Value"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [44]
    (
        address: Standard(126),
        size: 2,
        data_name: Some("Present Current"),
        description: Some("Present Current Value"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [45]
    (
        address: Standard(128),
        size: 4,
        data_name: Some("Present Velocity"),
        description: Some("Present Velocity Value"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [46]
    (
        address: Standard(132),
        size: 4,
        data_name: Some("Present Position"),
        description: Some("Present Position Value"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [47]
    (
        address: Standard(136),
        size: 4,
        data_name: Some("Velocity Trajectory"),
        description: Some("Desired Velocity Trajectory from Profile"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [48]
    (
        address: Standard(140),
        size: 4,
        data_name: Some("Position Trajectory"),
        description: Some("Desired Position Trajectory from Profile"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [49]
    (
        address: Standard(144),
        size: 2,
        data_name: Some("Present Input Voltage"),
        description: Some("Present Input Voltage"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [50]
    (
        address: Standard(146),
        size: 1,
        data_name: Some("Present Temperature"),
        description: Some("Present Internal Temperature"),
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),
]