[
    (
        address: 0,
        size: 2,
        data_name: Some("Model Number"),
        description: None,
        access: Read,
        initial_value: Some("2010"),
        range: None,
        units: None,
        modbus: None,
    ),// [0]
    (
        address: 2,
        size: 4,
        data_name: Some("Model Information"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [1]
    (
        address: 6,
        size: 1,
        data_name: Some("Firmware Version"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [2]
    (
        address: 7,
        size: 1,
        data_name: Some("ID"),
        description: None,
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [3]
    (
        address: 8,
        size: 1,
        data_name: Some("Baud Rate"),
        description: None,
        access: ReadWrite,
        initial_value: Some("1"),
        range: None,
        units: None,
        modbus: None,
    ),// [4]
    (
        address: 9,
        size: 1,
        data_name: Some("Return Delay Time"),
        description: None,
        access: ReadWrite,
        initial_value: Some("250"),
        range: None,
        units: None,
        modbus: None,
    ),// [5]
    (
        address: 10,
        size: 1,
        data_name: Some("Drive Mode"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [6]
    (
        address: 11,
        size: 1,
        data_name: Some("Operating Mode"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [7]
    (
        address: 13,
        size: 1,
        data_name: Some("Protocol Type"),
        description: None,
        access: ReadWrite,
        initial_value: Some("2"),
        range: None,
        units: None,
        modbus: None,
    ),// [8]
    (
        address: 12,
        size: 1,
        data_name: Some("Sencondary(Shadow) ID"),
        description: None,
        access: ReadWrite,
        initial_value: Some("255"),
        range: None,
        units: None,
        modbus: None,
    ),// [9]
    (
        address: 20,
        size: 4,
        data_name: Some("Homing Offset"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [10]
    (
        address: 24,
        size: 4,
        data_name: Some("Moving Threshold"),
        description: None,
        access: ReadWrite,
        initial_value: Some("20"),
        range: None,
        units: None,
        modbus: None,
    ),// [11]
    (
        address: 31,
        size: 1,
        data_name: Some("Temperature Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("80"),
        range: None,
        units: None,
        modbus: None,
    ),// [12]
    (
        address: 32,
        size: 2,
        data_name: Some("Max Voltage Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("350"),
        range: None,
        units: None,
        modbus: None,
    ),// [13]
    (
        address: 34,
        size: 2,
        data_name: Some("Min Voltage Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("150"),
        range: None,
        units: None,
        modbus: None,
    ),// [14]
    (
        address: 36,
        size: 2,
        data_name: Some("PWM Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("2009"),
        range: None,
        units: None,
        modbus: None,
    ),// [15]
    (
        address: 38,
        size: 2,
        data_name: Some("Current Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("15900"),
        range: None,
        units: None,
        modbus: None,
    ),// [16]
    (
        address: 40,
        size: 4,
        data_name: Some("Acceleration Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("10639"),
        range: None,
        units: None,
        modbus: None,
    ),// [17]
    (
        address: 44,
        size: 4,
        data_name: Some("Velocity Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("2920"),
        range: None,
        units: None,
        modbus: None,
    ),// [18]
    (
        address: 48,
        size: 4,
        data_name: Some("Max Position Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("501433"),
        range: None,
        units: None,
        modbus: None,
    ),// [19]
    (
        address: 52,
        size: 4,
        data_name: Some("Min Position Limit"),
        description: None,
        access: ReadWrite,
        initial_value: Some("-501433"),
        range: None,
        units: None,
        modbus: None,
    ),// [20]
    (
        address: 56,
        size: 1,
        data_name: Some("External Port Mode 1"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [21]
    (
        address: 57,
        size: 1,
        data_name: Some("External Port Mode 2"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [22]
    (
        address: 58,
        size: 1,
        data_name: Some("External Port Mode 3"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [23]
    (
        address: 59,
        size: 1,
        data_name: Some("External Port Mode 4"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3"),
        range: None,
        units: None,
        modbus: None,
    ),// [24]
    (
        address: 63,
        size: 1,
        data_name: Some("Shutdown"),
        description: None,
        access: ReadWrite,
        initial_value: Some("58"),
        range: None,
        units: None,
        modbus: None,
    ),// [25]
    (
        address: 512,
        size: 1,
        data_name: Some("Torque Enable"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [26]
    (
        address: 513,
        size: 1,
        data_name: Some("LED Red"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [27]
    (
        address: 514,
        size: 1,
        data_name: Some("LED Green"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [28]
    (
        address: 515,
        size: 1,
        data_name: Some("LED Blue"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [29]
    (
        address: 516,
        size: 1,
        data_name: Some("Status Return Level"),
        description: None,
        access: ReadWrite,
        initial_value: Some("2"),
        range: None,
        units: None,
        modbus: None,
    ),// [30]
    (
        address: 517,
        size: 1,
        data_name: Some("Registered Instruction"),
        description: None,
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [31]
    (
        address: 518,
        size: 1,
        data_name: Some("Hardware Error Status"),
        description: None,
        access: Read,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [32]
    (
        address: 524,
        size: 2,
        data_name: Some("Velocity I Gain"),
        description: None,
        access: ReadWrite,
        initial_value: Some("1290"),
        range: None,
        units: None,
        modbus: None,
    ),// [33]
    (
        address: 526,
        size: 2,
        data_name: Some("Velocity P Gain"),
        description: None,
        access: ReadWrite,
        initial_value: Some("3593"),
        range: None,
        units: None,
        modbus: None,
    ),// [34]
    (
        address: 528,
        size: 2,
        data_name: Some("Position D Gain"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [35]
    (
        address: 530,
        size: 2,
        data_name: Some("Position I Gain"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [36]
    (
        address: 532,
        size: 2,
        data_name: Some("Position P Gain"),
        description: None,
        access: ReadWrite,
        initial_value: Some("502"),
        range: None,
        units: None,
        modbus: None,
    ),// [37]
    (
        address: 536,
        size: 2,
        data_name: Some("Feedforward 2nd Gain"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [38]
    (
        address: 538,
        size: 2,
        data_name: Some("Feedforward 1st Gain"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [39]
    (
        address: 546,
        size: 1,
        data_name: Some("Bus Watchdog"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [40]
    (
        address: 548,
        size: 2,
        data_name: Some("Goal PWM"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [41]
    (
        address: 550,
        size: 2,
        data_name: Some("Goal Current"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [42]
    (
        address: 552,
        size: 4,
        data_name: Some("Goal Velocity"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [43]
    (
        address: 556,
        size: 4,
        data_name: Some("Profile Acceleration"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [44]
    (
        address: 560,
        size: 4,
        data_name: Some("Profile Velocity"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [45]
    (
        address: 564,
        size: 4,
        data_name: Some("Goal Position"),
        description: None,
        access: ReadWrite,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [46]
    (
        address: 568,
        size: 2,
        data_name: Some("Realtime Tick"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [47]
    (
        address: 570,
        size: 1,
        data_name: Some("Moving"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [48]
    (
        address: 571,
        size: 1,
        data_name: Some("Moving Status"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [49]
    (
        address: 572,
        size: 2,
        data_name: Some("Present PWM"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [50]
    (
        address: 574,
        size: 2,
        data_name: Some("Present Current"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [51]
    (
        address: 576,
        size: 4,
        data_name: Some("Present Velocity"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [52]
    (
        address: 580,
        size: 4,
        data_name: Some("Present Position"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [53]
    (
        address: 584,
        size: 4,
        data_name: Some("Velocity Trajectory"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [54]
    (
        address: 588,
        size: 4,
        data_name: Some("Position Trajectory"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [55]
    (
        address: 592,
        size: 2,
        data_name: Some("Present Input Voltage"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [56]
    (
        address: 594,
        size: 1,
        data_name: Some("Present Temperature"),
        description: None,
        access: Read,
        initial_value: None,
        range: None,
        units: None,
        modbus: None,
    ),// [57]
    (
        address: 600,
        size: 2,
        data_name: Some("External Port Data 1"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [58]
    (
        address: 602,
        size: 2,
        data_name: Some("External Port Data 2"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [59]
    (
        address: 604,
        size: 2,
        data_name: Some("External Port Data 3"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),// [60]
    (
        address: 606,
        size: 2,
        data_name: Some("External Port Data 4"),
        description: None,
        access: ReadWrite,
        initial_value: Some("0"),
        range: None,
        units: None,
        modbus: None,
    ),
]